
<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente sint cupiditate id nam accusantium, ex rerum repellendus dolores doloribus voluptate distinctio officia ut officiis ipsa cumque sed aspernatur similique?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> siseven@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (75) 99999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i> (75) 99999-8888</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>